src
target
.env
Cargo.lock
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
# use download script for llncs
llncs.cls
splncs04.bst
samplepaper.*
CEURART.zip
CEURART
ceurart.cls
*.abs
*.xmpdata
elsarticle-num-names.bst
